.Footer{
    background-color: var(--blue-strong);
    color: #fff;
    display: flex;
    padding: 3em;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Footer__Item-nav{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    padding-bottom: 1em;
    
}
.Footer__Item-nav > a{
    padding-bottom: .7em;
}

.Footer__Item-adress{
    padding-bottom: 2em;
}

.Footer__Item-adress > p:first-of-type{
    text-transform: uppercase;
}

@media (max-width: 740px){
    .Footer{
        text-align: center;
    }
    .Footer__Item-nav{
        padding-top: 2em;
        padding-bottom: 2em;
    }

}
