.Result{
    background-color: var(--blue-strong);
}

.Result__Wave{
    width: 100%;
    background-color: #fff;
    padding-bottom: 0;
}

.Result__Block{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.Result__Description{
    max-width: 35em;
}

.Result__Description > h2{
    font-size: 2em;
    color: #fff;
}

.foto{
    padding-top: 2em;
    width: 25em;
    display: flex;
}

.Result__Description-item{
    display: flex;
    align-items: center;
    padding-top: 2em;
}

.Result__Description-itemIcon{
    padding-right: 3em;
}

.Result__Description-itemText > h3{
    color: #fff;
    font-size: 1.4em;
}

.Result__Description-itemText > p{
    color: #fff;
    font-size: 1.4em;
}

@media (max-width: 740px){
    .Result__Block{
        padding-top: 3em;
    }

    .Result__Description-item{
        padding-left: 5%;
        padding-right: 5%;
    }
    .Result__Description > h2{
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }
}

